@import 'global';
@import 'variables';

header {
	padding: 7.5rem 0;
}

.card {
	display: inline-block;
	width: 35.4rem;
	height: 50.8rem;

	background-image: url('../../assets/bg-explorer.svg');

	cursor: pointer;

	opacity: 0;
	animation: appear 0.4s forwards;
	transform: translateY(-10rem);

	user-select: none;
	-webkit-user-select: none;

	img {
		width: 15rem;
		height: 15rem;
		object-fit: cover;
		border-radius: 50%;
		border: 0.4rem solid var(--yellow);
		margin-top: 11.5rem;

		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
	}

	.card__info {
		text-align: left;

		margin-top: 9.8rem;
		margin-left: 7rem;

		color: var(--white);

		h1 {
			font-size: 1.8rem;
			line-height: 140%;
		}

		p {
			font-size: 1.4rem;
			line-height: 160%;
		}
	}
}

@keyframes appear {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
